<% provide(:title,'Sign up') %>

<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%# @userは新しいユーザなのでRailsが action="/users" method="post"を自動で生成する %>
    <%# CSRFを防いだり、文字コードを指定するinput hiddenも自動で生成される %>
    <%= form_for(@user, url: signup_path) do |f| %>

      <%= render 'shared/error_messages' %>
      <%# @userの:nameフィールドを設定するラベル付きテキストフィールド要素を生成する %>
      <%# Railsはinputのnameの値を使ってハッシュparams変数を構成する%>
      <%= f.label :name %>
      <%= f.text_field :name, class:'form-controll' %>

      <%= f.label :email %>
      <%= f.text_field :email, class:'form-controll' %>

      <%= f.label :password %>
      <%= f.password_field :password, class:'form-controll' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class:'form-controll'%>

      <%= f.submit "Create my account", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
